@import "font-awesome.min.css";
@import "bootstrap.min.css";
@import "bootstrap-extend.css";
@import "../js/plugins/swiper/swiper.min.css";
@import "../js/plugins/sweetalert2/sweetalert2.min.css";
@import "../js/plugins/metismenu/metisMenu.min.css";

html,
body {
    height: 100%;
}
body {
    overflow: hidden;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #676a6c;
}

#container {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    background-color: #f5f6f8;
}
#sidebar {
    width: 190px;
    background-color: #2f4050;
}
#main {
    flex: 1;
    overflow-y: scroll;
}
#main .navbar {
    margin-left: -10px;
    margin-right: -10px;
    background: #EBEDF1;
}
#main .breadcrumb {
    float: left;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}
#main .navbar .fa {
    font-size: 16px;
    color: #337ab7;
}
#main .help-block {
    display: none!important;
}
.form-horizontal .has-success .form-control-feedback {
    right: 10px;
}

.metismenu > li.active {
    border-left: 4px solid #19aa8d;
    background: #293846;
}
.metismenu a {
    color: #a7b1c2;
    font-weight: 600;
}
.metismenu a:hover,
.metismenu a:focus {
    background-color: #293846;
    color: white;
}
.navbar-default .active > a {
    color: #ffffff;
}
.metismenu > li > a {
    padding: 1em 2em;
}
.metismenu > li > .nav a {
    padding: 7px 0;
}
.metismenu > li > .nav {
    padding-left: 3.5em;
}
.metismenu > li > .nav > li .nav {
    padding-left: 2em;
}
.metismenu > li > .nav li:last-child {
    margin-bottom: 10px;
}
.navbar-default {
    background-color: transparent;
    border-color: #2f4050;
}
.nav-header {
    padding: 33px 25px;
    background: url("images/admin/header-profile.png") no-repeat;
    color: #DFE4ED;
}
.nav-header .text-muted {
    color: #8095a8;
}
.profile {
    width: 64px;
    height: 64px;
    overflow: hidden;
}
.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
