@import "font-awesome.min.css";
@import "bootstrap.min.css";
@import "bootstrap-extend.css";
@import "../js/plugins/datetimepicker/bootstrap-datetimepicker.min.css";
@import "../js/plugins/swiper/swiper.min.css";
@import "../js/plugins/sweetalert2/sweetalert2.min.css";
@import "../js/plugins/metismenu/metisMenu.min.css";

html,
body {
    height: 100%;
}
body {
    padding-right: 0!important;
    overflow: hidden;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #676a6c;
}
table {
    table-layout: fixed;
}
.text-price {
    color: #ff5000;
}
.text-widened {
    line-height: 2;
}
.hyphenate {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
textarea {
    resize: none;
}
.modal-dialog .form-control[type="time"],
.col-sm-4 .col-xs-4 .form-control[type="date"]{
    padding: 6px 0;
    font-size: 12px;
}
.fa-plus,
.fa-remove {
    cursor: pointer;
}
#description {
    width: 100%;
    height: 300px;
}

#container {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    min-width: 1024px;
    height: 100%;
    background-color: #f5f6f8;
}
#sidebar {
    width: 190px;
    background-color: #2f4050;
}
#main {
    flex: 1;
    overflow-y: scroll;
}
#main .navbar {
    margin-left: -10px;
    margin-right: -10px;
    background: #EBEDF1;
    border-radius: 0;
}
#main .breadcrumb {
    float: left;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}
#main .navbar .fa {
    font-size: 16px;
    color: #337ab7;
}
#main .help-block,
.modal-dialog .help-block,
.modal-dialog .form-control-feedback {
    display: none!important;
}
#main .panel > table > tbody > tr > td {
    text-align: center;
}

.form-horizontal .has-success .form-control-feedback {
    right: 10px;
}

.metismenu > li.active {
    border-left: 4px solid #19aa8d;
    background: #293846;
}
.metismenu a {
    color: #a7b1c2;
    font-weight: 600;
}
.metismenu a:hover,
.metismenu a:focus {
    background-color: #293846;
    color: white;
}
.navbar-default .active > a {
    color: #ffffff;
}
.metismenu > li > a {
    padding: 1em 2em;
}
.metismenu > li > .nav a {
    padding: 7px 0;
}
.metismenu > li > .nav {
    padding-left: 3.5em;
}
.metismenu > li > .nav > li .nav {
    padding-left: 2em;
}
.metismenu > li > .nav li:last-child {
    margin-bottom: 10px;
}
.navbar-default {
    background-color: transparent;
    border-color: #2f4050;
}
.nav-header {
    padding: 33px 25px;
    background: url("images/admin/header-profile.png") no-repeat;
    color: #DFE4ED;
}
.nav-header .text-muted {
    color: #8095a8;
}
.profile {
    width: 64px;
    height: 64px;
    overflow: hidden;
}
.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.table-middle > thead > tr > th,
.table-middle > tbody > tr > td,
.table-middle > tfoot > tr > td {
    vertical-align: middle;
    text-align: center;
}
.table-control {
    display: flex;
    justify-content: space-between;
}
tfoot .pagination {
    margin: 0;
}

.media-goods {
    display: flex;
    min-width: 220px;
    max-width: 500px;
    font-size: 12px;
    text-align: left;
}
.media-goods .media-object {
    width: 66px;
    height: 66px;
}
.media-goods .media-heading {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 12px;
}
.media-goods .media-param {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.media-goods .media-param > li {
    width: 50%;
}
.media-goods .media-body {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-range {
    position: relative;
}
.form-range .fa-minus {
    position: absolute;
    right: -5px;
    top: 10px;
}

.table-order {
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
}
.table-order > thead > tr > th {
    text-align: center;
}
.table-order > tbody > tr > th {
    background-color: #EBEDF1;
    font-weight: normal;
}
.table-order > thead > tr > th:nth-child(2),
.table-order > colgroup > col:nth-child(2) {
    width: 221px;
}
.table-order > thead > tr > th:nth-child(3),
.table-order > colgroup > col:nth-child(3) {
    width: 182px;
}
.table-order > thead > tr > th:nth-child(4),
.table-order > colgroup > col:nth-child(4) {
    width: 156px;
}
.table-order > tbody > tr > td {
    border: 1px solid #eeeeee;
    vertical-align: middle;
}
.table-order .list-unstyled {
    margin-left: 20px;
    margin-bottom: 0;
}
.table-order .dl-horizontal {
    margin-bottom: 0;
}
.table-order .dl-horizontal > dt {
    width: 98px;
    font-weight: normal;
}
.table-order .dl-horizontal > dd {
    margin-left: 98px;
}

.box-justify {
    display: flex;
    justify-content: space-between;
}
.alert .box-justify {
    font-size: 14px;
    color: #333333;
    line-height: 30px;
}

.nav-tabs > .nav-tabs-attach {
    float: right;
}
.dl-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
}
.dl-flex dt {
    width: 30%;
    text-align: right;
    font-weight: normal;
}
.dl-flex dd {
    width: 70%;
    text-align: left;
}
.ul-flex {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    min-width: 7em;
    text-align: left;
}

.upload {
    display: flex;
    width: 100%;
}
.upload img {
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    width: 120px;
    height: 120px;
}
.upload-swiper {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.upload-swiper > li,
.upload-thumbnail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid #999999;
    width: 122px;
    height: 122px;
    text-align: center;
}
.upload-swiper > li {
    margin-bottom: 10px;
}
.upload-thumbnail img,
.upload-swiper img {
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    width: 120px;
    height: 120px;
}
.swiper-container-upload {
    flex: 1;
    height: 122px;
}
.swiper-container-upload .swiper-slide {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border: 1px solid #999999;
    width: 122px;
    height: 122px;
    text-align: center;
}
.swiper-container-upload .swiper-pagination-progress {
    height: 2px;
}
.upload-thumbnail .fa-remove,
.upload-swiper .fa-remove,
.swiper-slide .fa-remove {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    height: 20px;
    background-color: rgba(73, 84, 105, 0.3);
    line-height: 20px;
}
.upload-thumbnail:hover .fa-remove,
.upload-thumbnail:focus .fa-remove,
.upload-swiper > li:hover .fa-remove,
.upload-swiper > li:focus .fa-remove,
.swiper-slide:hover .fa-remove,
.swiper-slide:focus .fa-remove {
    display: block;
    color: #ffffff;
}
.upload-help {
    margin-top: 5px;
    margin-right: 10px;
    width: 122px;
    text-align: center;
}
.autocomplete {
    position: relative;
}
.autocomplete ul {
    position: absolute;
    left: 0;
    right: 0;
    top: 34px;
    z-index: 100000;
    display: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    line-height: 20px;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #EBEDF1;
}
.autocomplete ul > li {
    cursor: pointer;
    padding: 5px;
}
.autocomplete ul > li + li {
    border-top: 1px solid #d4d4d4;
}
.autocomplete ul > li:hover {
    background-color: #ffffff;
}
.form-goods {
    padding: 0 30px;
}
