@import "normalize.css";
@import "../js/plugins/swiper/swiper.min.css";
@import "../js/plugins/sweetalert2/sweetalert2.min.css";

/**
 * Muse mall styles
 * Created by LiuSong on 2017-4-24
 */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    padding: 0;
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    position: relative;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.25;
    color: #122733;
}
img {
    vertical-align: middle;
}
a {
    color: #122733;
    text-decoration: none;
}
a:active {
    color: #ff5000;
    text-decoration: none;
}
a:focus {
    outline: none;
}
/* 文本样式 */
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-middle {
    vertical-align: middle;
}
.text-justify {
    text-align: justify;
}
.text-nowrap {
    white-space: nowrap;
}
.text-block {
    display: block;
}
.text-muted {
    color: #999;
}
.text-silver {
    color: #c5c5c5;
}
.text-attract {
    color: #ff5000;
}
.text-price {
    color: #ff5000;
}
.text-price .yuan {
    font-size: 1.5em;
}
.text-price-align {
    margin-top: 0.25em;
    line-height: 1.5;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-white {
    color: white;
}
.text-small {
    font-size: smaller;
}
.text-big {
    font-size: larger;
}
.text-large {
    font-size: 0.3865rem;
}
.badge {
    display: inline-block;
    min-width: 0.9em;
    padding: 0.3333333333333333em 0.6666666666666667em;
    font-size: 0.9em;
    color: #ffffff;
    line-height: 1;
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
    background-color: #ff5000;
    border-radius: 0.4em;
}
.badge:empty {
    display: none;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* 布局样式 */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    width: 10rem;
}
.wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 10rem;
}
.wrapper-has-footer {
    padding-bottom: 1.8rem;
}
.section {
    width: 10rem;
    background: #ffffff;
    font-size: 0.322rem;
}
.section-head {
    margin: 0;
    padding: 0.2rem 0.4rem;
    border-bottom: 1px solid #f5f5f5;
    font-size: 1.125em;
    font-weight: bold;
    color: #ff5000;
}
.section-divider {
    margin-left: 0.4rem;
    /*border-left: 0.4rem solid #ffffff;*/
    height: 1px;
    overflow: hidden;
    background: #797979;
}
.section-body {
    padding: 0.2rem 0.4rem;
    word-wrap: break-word;
    text-align: justify;
}
.section-body > * {
    float: left;
    width: 100%;
}
.section-body > h1,
.section-body > h3 {
    margin: 0;
    font-weight: normal;
}
.section-body > h1 {
    font-size: 1.2em;
}
.section-body > h3 {
    margin-top: 0.5em;
    font-size: 1em;
}
.section-body p {
    margin: 0;
}
.section-body > ul {
    margin-top: 0;
    margin-bottom: 0;
}
.section-body img {
    min-width: 100%;
}
.section-body + .section-body {
    border-top: 1px solid #f2f2f2;
}
.section-body .btn-attract-o {
    font-size: 0.2254rem;
}
.section .row {
    padding: 0.2rem 0;
    border-bottom: 1px solid #f2f2f2;
    line-height: 0.5314009661835749rem;
}
.section-data {
    display: flex;
    margin: 0;
    padding: 0.18rem 0;
    list-style: none;
    flex-wrap: wrap;
    font-size: 0.36rem;
    line-height: 2;
    border-bottom: 1px solid #d6d6d6;
}
.section-data > li {
    width: 3.066666666666666rem;
}
.section-data > div {
    flex: 1;
}
.section-code {
    padding: 0;
    margin: 0;
    list-style: none;
}
.section-code > li {
    display: flex;
    justify-content: space-between;
}
.section-code > li + li {
    margin-top: 0.2rem;
}
.row-fa {
    position: relative;
    padding-left: 2em;
    line-height: 1.875;
}
.row-fa .fa {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.875em;
    line-height: 1;
}
.row {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {
    float: left;
    position: relative;
    min-height: 1px;
}
.col-1 {
    width: 10%;
}
.col-2 {
    width: 20%;
}
.col-3 {
    width: 30%;
}
.col-4 {
    width: 40%;
}
.col-5 {
    width: 50%;
}
.col-6 {
    width: 60%;
}
.col-7 {
    width: 70%;
}
.col-8 {
    width: 80%;
}
.rem-1, .rem-2, .rem-3, .rem-4, .rem-5, .rem-6, .rem-7, .rem-8, .rem-9, .rem-10 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}
.rem-9 {
    width: 90%;
}
.rem-10 {
    width: 100%;
}
.rem-1 {
    width: 1rem;
}
.rem-2 {
    width: 2rem;
}
.rem-3 {
    width: 3rem;
}
.rem-4 {
    width: 4rem;
}
.rem-5 {
    width: 5rem;
}
.rem-6 {
    width: 6rem;
}
.rem-7 {
    width: 7rem;
}
.rem-8 {
    width: 8rem;
}
.rem-9 {
    width: 9rem;
}
.rem-10 {
    width: 10rem;
}
.dl-horizontal {
    margin: 0;
    font-size: 0.322rem;
}
.dl-horizontal dt {
    float: left;
    width: 1.65rem;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal dd {
    float: left;
    margin-left: 0;
    width: 7.55rem;
    overflow: hidden;
}
.dl-horizontal + .dl-horizontal {
    margin-top: 0.15rem;
}
.jumbotron {
    padding: 0.5rem 0.25rem 0.25rem 0.25rem;
    background: #ffffff;
}
.jumbotron-head {
    font-size: 0.3864734299516908rem;
    color: #ff5000;
}
.jumbotron-body {
    margin-top: 0.25rem;
    font-size: 0.322rem;
}

/* 按钮 */
.btn {
    display: inline-block;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    font-size: 0.322rem;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #ffffff none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}
.btn.disabled,
.btn[disabled] {
    background: #999999 none;
    color: #ffffff;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-attract {
    background: #ff5000 none;
    color: #ffffff;
}
a.btn-attract:hover,
a.btn-attract:active {
    color: #ffffff;
}
.btn-attract-o {
    padding: 0 0.2rem;
    border: 1px solid #ff5000;
    border-radius: 0.05rem;
    background: #ffffff none;
    color: #ff5000;
    line-height: 1.75;
}
a.btn-attract-o:hover,
a.btn-attract-o:active {
    color: #ff5000;
}
.btn-attract-o + .btn-attract-o {
    margin-left: 0.3rem;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-group-justified {
    display: flex;
    width: 100%;
}
.btn-group-justified > .btn {
    flex: 1;
    display: block;
}
.btn-group-justified > .btn:active,
.btn-group-justified > .btn.active {
    color: #ff5000;
}
.btn-group-row {
    height: 1.2rem;
    line-height: 1.2rem;
}
.btn-group-row > .btn {
    display: block;
    height: 1.2rem;
    font-size: 0.3865rem;
}
.btn-group-row > .btn-favorite {
    position: relative;
    background: #ffffff none;
    overflow: hidden;
}
.btn-group-row > .btn-favorite > span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-transition: top 0.2s;
    -moz-transition: top 0.2s;
    -ms-transition: top 0.2s;
    -o-transition: top 0.2s;
    transition: top 0.2s;
}
.btn-group-row > .btn-favorite > span:first-child {
    top: 0;
}
.btn-group-row > .btn-favorite > span:last-child {
    top: 100%;
}
.btn-group-row > .btn-favorite.toggled > span:first-child {
    top: -100%;
}
.btn-group-row > .btn-favorite.toggled > span:last-child {
    top: 0;
}
.btn-group-row > .btn-favorite .fa {
    font-size: 0.5rem;
    line-height: 0.625rem;
}
.btn-group-order {
    width: 10rem;
    padding: 0.322rem 0.4rem;
    text-align: right;
}
.btn-radius {
    border-radius: 0.2rem;
}
.btn-muted {
    background: #e4e4e4;
    color: #666666;
}
.btn-gray {
    background: #CCCCCC;
    color: #FFFFFF;
}

/* 表单 */
.form-control {
    display: block;
    padding: 0;
    border: 0;
    width: 100%;
    font-size: 0.29rem;
    min-height: 0.45rem;
    resize: none;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    margin: 0;
    width: 100%;
    height: 0.5475rem;
    background: transparent none;
    font-size: 0.29rem;
    text-align: center;
}
.input-group .form-control:focus {
    z-index: 3;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
    display: table-cell;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.input-group-addon,
.input-group-btn {
    padding: 0 0.145rem;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon {
    font-size: 0.29rem;
    font-weight: normal;
    line-height: 0.5475rem;
    color: #aaaaaa;
    text-align: center;
    background-color: #ffffff;
    border-radius: 4px;
}
.form-horizontal {
    font-size: 0.3623rem;
}
.form-horizontal .form-field {
    padding: 0.1rem 0.25rem 0.2rem 0.5rem;
    background: #ffffff;
}
.form-horizontal .form-group {
    padding: 0.4rem 0 0.3rem 0;
    line-height: 0.8052rem;
}
.form-horizontal .form-group + .form-group {
    border-top: 1px solid #e7e7e7;
}
.form-horizontal .btn {
    padding: 0 0.2rem;
    height: 0.8052rem;
    border-radius: 0.2rem;
    font-size: 0.3623rem;
    line-height: 0.8052rem;
    vertical-align: top;
}
.form-horizontal .btn-group-row {
    margin-top: 1.2rem;
}
.form-horizontal .btn-group-row .btn {
    height: 1rem;
}
.form-horizontal .form-control {
    height: 0.8052rem;
    line-height: 0.8052rem;
}
.form-horizontal .form-note {
    padding: 0.6rem 0.4rem;
    text-align: center;
}
.control-label {
    font-weight: normal;
}
.form-search {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 0.3059581320450885rem;
}
.form-search .fa-search {
    position: absolute;
    left: 0.322rem;
    top: 0.5rem;
    display: block;
    padding: 0;
    border: 0;
    background: transparent;
    font-size: 0.5475rem;
    line-height: 1;
}
.form-search input {
    display: block;
    width: 100%;
    padding: 0.2rem 0.29rem 0.2rem 1.1rem;
    border: 0;
    background: #f2f2f2 none;
    border-radius: 0.08rem;
    font-size: 0.29rem;
    font-weight: bold;
    line-height: 0.5475rem;
}
.form-login {
    margin-top: 1.12rem;
}
.form-login .form-group {
    position: relative;
    margin: 0.2666666666666667rem 0.2rem;
}
.form-login .form-control {
    padding-left: 2rem;
    height: 1.333333333333333rem;
    border-radius: 0.12rem;
    font-size: 0.32rem;
}
.form-login label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 2rem;
    height: 1.333333333333333rem;
    font-size: 0.4rem;
    line-height: 1.333333333333333rem;
    color: #666666;
    text-align: center;
}
.form-login .btn {
    margin-top: 1.533333333333333rem;
    height: 1.066666666666667rem;
    border-radius: 0.12rem;
    font-size: 0.4rem;
    line-height: 1.066666666666667rem;
}
.form-login .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0.5rem;
    font-size: 0.4rem;
    line-height: 1.333333333333333rem;
}
.form-login .help-block {
    display: none !important;
}
.has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d;
}
.has-success .form-control-feedback {
    color: #3c763d;
}
.has-warning .form-control {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-warning .form-control:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #8a6d3b;
}
.has-warning .form-control-feedback {
    color: #8a6d3b;
}
.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}
.has-error .form-control-feedback {
    color: #a94442;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

/* 顶部底部导航 */
.navbar-fixed-top,
.navbar-fixed-bottom,
.navbar-fixed-supplier {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    background: #ffffff;
}
.navbar-fixed-top {
    top: 0;
    /*padding-bottom: 0.0241545893719807rem;*/
}
.navbar-fixed-top nav {
    border-bottom: 1px solid #e7e7e7;
}
.navbar-fixed-top nav .rem-1 {
    border-left: 1px solid #e7e7e7;
    line-height: 0.95rem;
}
.navbar-fixed-top nav .btn {
    font-size: 0.3623rem;
    line-height: 0.95rem;
}
.navbar-fixed-bottom {
    bottom: 0;
}
.navbar-fixed-bottom nav {
    padding-top: 0.2174rem;
    padding-bottom: 0.1771rem;
    font-size: 0.3623rem;
    line-height: 0.781rem;
}
.navbar-fixed-bottom .btn-group-justified > .btn + .btn {
    border-left: 1px solid #122733;
}
.navbar-fixed-supplier {
    display: flex;
    margin: 0 auto;
    bottom: 0;
    width: 10rem;
    height: 1.1733333333333333rem;
}
.navbar-fixed-supplier > a {
    display: block;
    flex: 1;
    width: 5rem;
    height: 1.1733333333333333rem;
    text-align: center;
    font-size: 0.3466666666666667rem;
    line-height: 1.1733333333333333rem;
    background: #e4e4e4;
    color: #FF8C55;
}
.navbar-fixed-supplier > a.active {
    background: #FF8C55;
    color: #FFFFFF;
}



/* 瀑布商品 */
.img-thumbnail {
    position: relative;
}
.img-thumbnail > img {
    max-width: 100%;
    max-height: 100%;
    -webkit-border-radius: 0.0644rem;
    -moz-border-radius: 0.0644rem;
    border-radius: 0.0644rem;
}
.sold-out {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 0.3462rem;
    color: #ffffff;
}
.thumbnail {
    display: block;
    background-color: #fff;
    -webkit-box-shadow: 0 0.0805rem 0.161rem rgba(4, 0, 0, 0.73);
    -moz-box-shadow: 0 0.0805rem 0.161rem rgba(4, 0, 0, 0.73);
    box-shadow: 0 0.0805rem 0.161rem rgba(4, 0, 0, 0.73);
    font-size: 0.2657rem;
}
.thumbnail .caption {
    padding: 0.1449275362318841rem;
}
.thumbnail .text-price {
    margin-top: 0.0805rem;
}

/* 列表商品 */
.media {
    display: block;
    margin-top: 0.3623rem;
    font-size: 0.29rem;
}
.media,
.media-body {
    overflow: hidden;
    zoom: 1;
}
.media-body {
    position: relative;
    width: 10000px;
    padding-right: 0.25rem;
}
.media .img-thumbnail {
    display: block;
}
.media-left,
.media > .pull-left {
    padding-right: 0.25rem;
}
.media-left,
.media-body {
    display: table-cell;
    vertical-align: top;
}
.media-heading {
    margin: 0.2rem 0;
    font-size: 0.322rem;
}

/* 商品瀑布布局 */
.goods-waterfall {
    width: 10rem;
    margin: 0;
}
.goods-waterfall .rem-5 {
    margin: 0.2rem 0;
}
.goods-waterfall .rem-5:nth-child(2n+1) {
    padding-right: 0.125rem;
}
.goods-waterfall .rem-5:nth-child(2n) {
    padding-left: 0.125rem;
}
.goods-waterfall .img-thumbnail {
    width: 4.625rem;
    height: 4.625rem;
}
.goods-waterfall .img-thumbnail > .sold-out {
    width: 2.3125rem;
    height: 2.3125rem;
    line-height: 2.3125rem;
}

/* 商品列表布局 */
.goods-list {
    width: 10rem;
    margin: 0 auto;
}
.goods-list .media {
    margin: 0.2rem 0;
    background: #ffffff;
    -webkit-box-shadow: 0 0.0805rem 0.161rem rgba(4, 0, 0, 0.73);
    -moz-box-shadow: 0 0.0805rem 0.161rem rgba(4, 0, 0, 0.73);
    box-shadow: 0 0.0805rem 0.161rem rgba(4, 0, 0, 0.73);
}
.goods-list .img-thumbnail {
    width: 2.737520128824477rem;
    height: 2.737520128824477rem;
}
.goods-list .img-thumbnail > .sold-out {
    width: 2.028985507246377rem;
    height: 2.028985507246377rem;
    line-height: 2.028985507246377rem;
}
.goods-list .swiper-control .swiper-slide-btn {
    margin: 0.1610305958132045rem 0;
    height: 2.737520128824477rem;
    line-height: 2.737520128824477rem;
}
.goods-list .swiper-slide-active {
    z-index: 2;
}
.goods-list .swiper-control .media {
    margin: 0.1610305958132045rem 0.25rem;
    transition: all ease 0.2s;
}
.goods-list .swiper-slide-active .media {
    margin-right: 0;
    padding-right: 0.25rem;
}
.goods-list .swiper-slide-active + .swiper-slide-btn {
    -webkit-box-shadow: 0 0.0805rem 0.161rem rgba(4, 0, 0, 0.73);
    -moz-box-shadow: 0 0.0805rem 0.161rem rgba(4, 0, 0, 0.73);
    box-shadow: 0 0.0805rem 0.161rem rgba(4, 0, 0, 0.73);
}

.order-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.orderli {
    margin: 0.25rem 0;
    background: #ffffff;
    font-size: 0.29rem;
}
.orderli-media {
    padding: 0.25rem 0.2rem 0 0.25rem;
}
.orderli-state {
    padding: 0.15rem 0.4rem 0.15rem 0.3rem;
}
.orderli-state .pull-left {
    line-height: 1.5em;
}
.orderli-body {
    padding: 0.2rem 0.4rem;
    font-size: 0.2255rem;
}
.orderli-body dd {
    width: 7.05rem;
}
.orderli-foot {
    padding: 0.2rem 0.4rem 0.25rem 0.3rem;
    border-top: 1px solid #e7e7e7;
    text-align: right;
}
.orderli-foot .btn-attract-o {
    padding: 0;
    width: 1.5rem;
    height: 0.5rem;
    font-size: 0.25rem;
    line-height: 0.5rem;
}
.orderli-foot .text-left {
    font-size: 0.32rem;
    line-height: 1.75;
}
.orderli-media .media {
    margin-top: 0;
    background: #f2f2f2;
}
.orderli-media .media-heading {
    font-size: 0.29rem;
}
.orderli-media .img-thumbnail {
    width: 2rem;
    height: 2rem;
}
.orderli-media .input-group {
    width: 1.8rem;
}

/* 商品大图轮播 */
.swiper-goods {
    width: 10rem;
    height: 8rem;
}
.swiper-goods>.swiper-pagination-bullets {
    bottom: 0.3703703703703703rem;
}
.swiper-goods>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0.072463768115942rem;
    width: 0.1851851851851852rem;
    height: 0.1851851851851852rem;
    background: #ffffff;
}
.swiper-goods .sold-out {
    height: 4.48rem;
    width: 4.48rem;
    line-height: 4.48rem;
}
.swiper-control {
    width: 10rem;
}
.wrapper-address > .swiper-control {
    margin-top: 0.4025764895330113rem;
}
.swiper-slide-1 {
    width: 1px;
}
.swiper-slide-body {
    width: 10rem;
}
.swiper-slide-btn {
    width: 1.5rem;
    height: 1.6103059581320451rem;
    background: #ff5000;
    line-height: 1.6103059581320451rem;
    color: #ffffff;
    text-align: center;
}
.address {
    margin: 0 0.25rem;
    display: flex;
    border-radius: 0.1rem;
    background: #ffffff;
    transition: all ease 0.2s;
    font-size: 0.3623rem;
}
.swiper-slide-active .address {
    margin-right: 0;
    padding-right: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.address-set,
.address-mobile,
.address-text {
    flex: 1;
    padding: 0.4830917874396135rem;
    height: 1.6103059581320451rem;
    line-height: 0.644122383252818rem;
}
.address-mobile {
    padding-left: 0;
}
.address-set,
.address-text {
    color: #999999;
}
.address-text {
    padding-right: 0.4025764895330113rem;
}
.address-set .fa-check-circle-o {
    font-size: 0.644122383252818rem;
    line-height: 1;
    color: #ff3300;
}

.result-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #ffffff;
}
.result-wrapper-no {
    background: transparent;
}
.result {
    margin: 0 auto;
    width: 7.246376811594203rem;
}
.result-icon {
    margin: 0 auto;
    width: 5rem;
    height: 4rem;
}
.result-text {
    width: 100%;
    margin-top: 0.4rem;
    font-size: 0.3865rem;
    font-weight: bold;
    text-align: center;
}
.result-button {
    width: 100%;
    margin-top: 1rem;
}
.result-button > .btn {
    display: block;
    width: 100%;
    height: 1rem;
    border-radius: 0.15rem;
    font-size: 0.3865rem;
    font-weight: bold;
    line-height: 1rem;
}
.result-button > .btn + .btn {
    margin-top: 0.6rem;
}
.result-success .result-icon {
    background: url("images/success.png") no-repeat;
    background-size: 100%;
}
.result-fail .result-icon {
    background: url("images/fail.png") no-repeat;
    background-size: 100%;
}
.result-exception .result-icon {
    background: url("images/exception.png") no-repeat;
    background-size: 100%;
}
.result-no-record .result-icon {
    background: url("images/no-record.png") no-repeat;
    background-size: 100%;
}
.result-wrapper .section {
    margin-top: 1.8rem;
}
.result-dealer {
    margin-top: 2.266666666666667rem;
}

.icon-weixin,
.icon-zhifubao {
    display: inline-block;
    width: 0.6521739130434783rem;
    height: 0.5314009661835749rem;
}
.icon-weixin {
    background: url("images/weixin.png") no-repeat;
    background-size: 100%;
}
.icon-zhifubao {
    background: url("images/zhifubao.png") no-repeat;
    background-size: 100%;
}
.icon-plus {
    display: inline-block;
    width: 1.2157809983896941rem;
    height: 1.2157809983896941rem;
    background: url("images/plus.png") no-repeat;
    background-size: 100%;
    vertical-align: middle;
}
.swiper-slide {
    overflow: hidden;
}
.swiper-slide img {
    min-width: 100%;
}

/* dealer style */
.dealer-header {
    margin: 0 auto;
    width: 10rem;
    background: #1E81D2;
    color: #FFFFFF;
    text-align: center;
}
.dealer-title {
    margin-left: 0.4rem;
    padding: 0.4rem 0.4rem 0 0;
    height: 1.2rem;
    border-bottom: 1px solid #62A7E0;
    font-size: 0.3733333333333334rem;
    text-align: left;
}
.dealer-row {
    display: flex;
    padding: 0.48rem 0 0.5333333333333333rem 0;
    height: 2.4rem;
    line-height: 1;
}
.dealer-row + .dealer-row {
    border-top: 1px solid #62A7E0;
}
.dealer-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dealer-col + .dealer-col {
    border-left: 1px solid #62A7E0;
}
.text-number {
    font-size: 0.56rem;
}
.text-text {
    font-size: 0.3733333333333334rem;
}
.text-number.text-large {
    font-size: 0.64rem;
}
.text-text.text-large {
    font-size: 0.48rem;
}
.dealer-header .text-rmb {
    font-family: arial;
    font-size: 0.3733333333333334rem;
}
.dealer-header-white {
    background: #FFFFFF;
    color: #333333;
}
.dealer-header-white .dealer-title {
    border-bottom: 1px solid #e0e0e0;
}
.dealer-header-white .text-number,
.dealer-header-white .text-text {
    color: #ff5000;
}
.dealer-header-white .dealer-col + .dealer-col {
    border-left: 0;
}
.dealer-footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1030;
    margin: 0 auto;
    width: 10rem;
    height: 1.1733333333333333rem;
    background: #ffffff;
    font-size: 0.32rem;
}
.dealer-footer .fa {
    font-size: 0.56rem;
    line-height: 1.4;
}
.dealer-footer nav {
    display: flex;
}
.dealer-footer a {
    flex: 1;
    position: relative;
    padding-top: 0.6933333333333334rem;
    color: #515151;
    text-align: center;
}
.dealer-footer a:before {
    content: '';
    position: absolute;
    top: 0.0666666666666667rem;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    width: 0.56rem;
    height: 0.56rem;
}
.dealer-footer a.dealer-count:before {
    background: url("images/dealer/count.png") no-repeat;
    background-size: cover;
}
.dealer-footer a.dealer-shelf:before {
    background: url("images/dealer/shelf.png") no-repeat;
    background-size: cover;
}
.dealer-footer a.dealer-order:before {
    background: url("images/dealer/order.png") no-repeat;
    background-size: cover;
}
.dealer-footer a.active {
    color: #ff5000;
}
.dealer-footer a.active.dealer-count:before {
    background: url("images/dealer/count-active.png") no-repeat;
    background-size: cover;
}
.dealer-footer a.active.dealer-shelf:before {
    background: url("images/dealer/shelf-active.png") no-repeat;
    background-size: cover;
}
.dealer-footer a.active.dealer-order:before {
    background: url("images/dealer/order-active.png") no-repeat;
    background-size: cover;
}
.dealer-container {
    margin: 0 auto;
    width: 10rem;
    color: #333333;
}
.chapter {
    padding-left: 0.4rem;
    background: #FFFFFF;
}
.dealer-container .chapter + .chapter,
.dealer-header + .dealer-container .chapter {
    margin-top: 0.6666666666666666rem;
}
.chapter-title {
    padding-top: 0.4rem;
    height: 1.2rem;
    border-bottom: 1px solid #e0e0e0;
    font-size: 0.3733333333333334rem;
}
.chapter-content {
    padding: 0.4rem 0.4rem 0.4rem 0;
}
.chapter-content + .chapter-content {
    border-top: 1px solid #e0e0e0;
}
.link-block {
    display: flex;
    justify-content: space-between;
    font-size: 0.4rem;
    line-height: 0.6666666666666666rem;
}
.link-block-text {
    flex: 1;
}
.link-block-array {
    color: #CCCCCC;
}
.link-block .icon {
    margin-right: 0.4rem;
}
.icon {
    width: 0.6666666666666666rem;
    height: 0.6666666666666666rem;
}
.icon-count-commission {
    background: url("images/dealer/count-commission.png") no-repeat;
    background-size: cover;
}
.icon-count-order {
    background: url("images/dealer/count-order.png") no-repeat;
    background-size: cover;
}
#chart-commission {
    height: 6rem;
    width: 9.2rem;
}
#chart-order,
#chart-order-history {
    height: 4rem;
    width: 9.2rem;
}
.navbar-fixed-top-dealer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin: 0 auto;
    padding: 0;
    width: 10rem;
    background: #ffffff;
}
.dealer-search {
    position: relative;
    padding: 0.2666666666666667rem 0.4rem 0 0.4rem;
}
.dealer-search input {
    display: block;
    padding: 0 0.92rem;
    border: 0;
    width: 100%;
    height: 0.9333333333333333rem;
    outline: none;
    background: #f2f2f2;
    border-radius: 0.08rem;
    font-size: 0.32rem;
}
.dealer-search .fa-search {
    position: absolute;
    top: 0.5rem;
    left: 0.72rem;
    display: block;
    padding: 0;
    border: 0;
    background: transparent;
    font-size: 0.4rem;
}
.dealer-nav {
    display: flex;
    margin: 0;
    padding: 0;
    height: 1.0666666666666667rem;
    border-bottom: 1px solid #d6d6d6;
    list-style: none;
    font-size: 0.3733333333333334rem;
    line-height: 1.04rem;
    text-align: center;
}
.dealer-nav li {
    flex: 1;
}
.dealer-nav a {
    position: relative;
    display: inline-block;
    padding: 0 0.12rem;
}
.dealer-nav .active a {
    color: #ff5000;
}
.dealer-nav .active a:after {
    content: "";
    position: absolute;
    top: 1.0666666666666667rem;
    left: 0;
    right: 0;
    display: block;
    height: 1px;
    border-bottom: 0.04rem solid #ff5000;
}
.dealer-subnav {
    display: flex;
    margin: 0;
    padding: 0;
    height: 0.8rem;
    background: #ffffff;/*f2f2f2*/
    list-style: none;
    font-size: 0.3466666666666667rem;
    line-height: 0.8rem;
    text-align: center;
}
.dealer-subnav li {
    flex: 1;
}
.dealer-subnav a {
    display: inline-block;
    position: relative;
}
.dealer-subnav .fa-sort-asc,
.dealer-subnav .fa-sort-desc {
    position: absolute;
    top: 0.2266666666666667rem;
    right: 0;
}
.dealer-subnav .fa-sort {
    color: #122733;
}
.dealer-subnav .active a {
    color: #ff5000;
}
.dealer-tips {
    display: flex;
    padding: 0.1rem 0.2rem;
    background: #f2f2f2;
    font-size: 0.2933333333333333rem;
    line-height: 0.4rem;
    color: #999999;
}
.dealer-tips-text {
    flex: 1;
    margin-right: 0.2rem;
}
.dealer-tips .btn {
    margin: 0.1rem 0;
    padding: 0 0.24rem;
}
#wrapper.dealer-list {
    top: 2.266666666666667rem;
}
#wrapper.dealer-list .pullList {
    padding-top: 0.24rem;
}
#wrapper.dealer-list .swiper-slide-btn {
    height: 2.906666666666667rem;
    line-height: 2.906666666666667rem;
}
#wrapper.dealer-orders {
    top: 2.16rem;
}
.item {
    display: flex;
    align-items: flex-start;
    padding: 0.12rem 0.2rem 0.12rem 0.12rem;
    background: #ffffff;
}
.item-figure {
    margin-right: 0.28rem;
}
.item-figure .img-thumbnail {
    display: block;
    width: 2.6666666666666665rem;
    height: 2.6666666666666665rem;
}
.item-figure .sold-out {
    width: 1.6rem;
    height: 1.6rem;
    line-height: 1.6rem;
}
.item-body {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 2.6666666666666665rem;
}
.item-heading {
    font-size: 0.3733333333333334rem;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.item-caption {
    display: flex;
    justify-content: space-between;
    font-size: 0.32rem;
    line-height: 2;
}
.item-caption > div {
    width: 2.4rem;
}
.item + .item {
    border-top: 1px solid #e0e0e0;
}
.item .btn {
    position: relative;
    height: 1.28rem;
    width: 1.28rem;
    border-radius: 0.12rem;
    font-size: 0.2933333333333333rem;
    overflow: hidden;
}
.item .btn > span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-transition: top 0.2s;
    -moz-transition: top 0.2s;
    -ms-transition: top 0.2s;
    -o-transition: top 0.2s;
    transition: top 0.2s;
}
.item .btn > span:first-child {
    top: 0;
}
.item .btn > span:last-child {
    top: 100%;
}
.item .btn.toggled {
    background: #E4E4E4;
    color: #666666;
}
.item .btn.toggled .fa {
    color: #8A8A8A;
}
.item .btn.toggled > span:first-child {
    top: -100%;
}
.item .btn.toggled > span:last-child {
    top: 0;
}
.item .btn .fa {
    font-size: 0.8rem;
    line-height: 0.8;
}

/* cancel after verification */
.cav-header {
    margin: 0 auto;
    padding-top: 1px;
    width: 10rem;
    height: 4.666666666666667rem;
    background: #1E81D2;
    color: #FFFFFF;
    text-align: center;
}
.cav-header h3 {
    margin: 0.88rem 0 0.68rem 0;
    font-size: 0.3733333333333334rem;
}
.cav-header h4 {
    margin-top: 0.68rem;
    font-size: 0.3466666666666667rem;
}
.cav-input {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #FFFFFF;
    -webkit-border-radius: 0.1333333333333333rem;
    -moz-border-radius: 0.1333333333333333rem;
    border-radius: 0.1333333333333333rem;
    width: 9.386666666666667rem;
    height: 1.0666666666666667rem;
}
.cav-input li {
    flex: 1;
    border: 1px solid #FFFFFF;
    text-align: center;
    font-size: 0.3733333333333334rem;
    line-height: 0.9866666666666667rem;
}
.cav {
    position: absolute;
    top: 4.666666666666667rem;
    right: 0;
    bottom: 1.1733333333333333rem;
    left: 0;
    width: 10rem;
    margin: 0 auto;
}
.cav-item {
    position: relative;
    margin: 0.24rem 0.16rem 0.24rem 0.84rem;
    padding: 0.12rem 0.32rem 1px 0.84rem;
    background: #FFFFFF;
    border-radius: 0.0666666666666667rem;
    font-size: 0.3733333333333334rem;
    line-height: 0.48rem;
}
.cav-item-object {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.6666666666666666rem;
    margin: auto 0;
    border-radius: 0.0666666666666667rem;
    width: 1.3333333333333333rem;
    height: 1.3333333333333333rem;
    overflow: hidden;
}
.cav-item-object img {
    max-width: 100%;
}
.cav-item-heading {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin: 0;
    font-size: 0.3733333333333334rem;
    font-weight: normal;
    color: #122733;
}
.cav-item-body {}
.cav-item-body dl {
    display: flex;
    justify-content: space-between;
    margin: 0.2rem 0;
}
.cav-item-body dt {
    font-size: 0.3466666666666667rem;
    color: #999999;
}
.cav-item-body p {
    margin: 0.2rem 0;
}
.cav-btn-group .btn {
    margin-left: 0.9333333333333333rem;
    width: 3.6rem;
    height: 0.9333333333333333rem;
    border-radius: 0.0666666666666667rem;
    font-size: 0.4rem;
}
.cav-btn-group .btn-attract {
    background: #FF8C55;
}
.cav-btn-group .btn-attract-o {
    color: #FF8C55;
}
#output .cav-item {
    margin: 0.96rem 0.3333333333333333rem 0.3333333333333333rem 0.3333333333333333rem;
    padding: 0.8rem 0.5333333333333333rem 1px 0.5333333333333333rem;
}
#output .cav-item-object {
    top: -0.6666666666666666rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.keyboard {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
}
.keyboard td {
    width: 3.333333333333333rem;
    height: 25%;
    border: 1px solid #797979;
    background: #FFFFFF;
    text-align: center;
    font-size: 0.9066666666666666rem;
    transition: all 0.1s;
}
.keyboard td.submit,
.keyboard td.active,
.keyboard td:active {
    background: #1E81D2;
    color: #FFFFFF;
}
.keyboard td.submit {
    font-size: 0.5333333333333333rem;
}
.backspace {
    display: inline-block;
    width: 1.3333333333333333rem;
    height: 1.3333333333333333rem;
    background: url("images/supplier/backspace.png") no-repeat;
    background-size: cover;
}
.keyboard td.active .backspace,
.keyboard td:active .backspace {
    background: url("images/supplier/backspace-active.png") no-repeat;
    background-size: cover;
}
.supplier-coupon,
.supplier-shopping-cart {
    display: inline-block;
    margin-top: -0.04rem;
    margin-right: 1em;
    width: 0.6666666666666666rem;
    height: 0.6666666666666666rem;
    vertical-align: middle;
}
.supplier-coupon {
    background: url("images/supplier/coupon.png") no-repeat;
    background-size: cover;
}
.supplier-shopping-cart {
    background: url("images/supplier/shopping-cart.png") no-repeat;
    background-size: cover;
}
.active .supplier-coupon {
    background: url("images/supplier/coupon-active.png") no-repeat;
    background-size: cover;
}
.active .supplier-shopping-cart {
    background: url("images/supplier/shopping-cart-active.png") no-repeat;
    background-size: cover;
}
.record-header {
    margin: 0 auto;
    width: 10rem;
    height: 3.28rem;
    background: #FFFFFF;
}
.record-header .form-search {
    margin: 0 auto;
    width: 9.2rem;
}
.record-header .form-search .form-control {
    padding-left: 1rem;
    font-size: 0.32rem;
    line-height: 0.4rem;
    outline: none;
}
.record-header .form-search {
    left: 0.4rem;
    font-size: 0.36rem;
}
.record-date {
    display: flex;
    justify-content: center;
    margin-top: 0.32rem;
}
.record-date .fa-chevron-left,
.record-date .fa-chevron-right {
    color: #666666;
    line-height: 0.6666666666666666rem;
}
.record-date .fa-chevron-right {
    visibility: hidden;
}
.record-date .fa-calendar-check-o {
    position: relative;
    margin: 0 0.44rem;
    padding-left: 0.6rem;
    width: 2.8rem;
    height: 0.6666666666666666rem;
    background: #FF8C55;
    border-radius: 0.12rem;
    font-size: 0.3733333333333334rem;
    line-height: 0.6666666666666666rem;
    color: #FFFFFF;
    text-align: center;
}
.record-date .fa-calendar-check-o:before {
    position: absolute;
    top: 0;
    left: 0.16rem;
    font-size: 0.44rem;
}
.record-date .form-control {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}
.record-text {
    margin-top: 0.4rem;
    font-size: 0.4rem;
    text-align: center;
}
.sale-header {
    margin: 0 auto;
    padding-top: 1px;
    width: 10rem;
    height: 2.08rem;
    background: #FFFFFF;
    text-align: center;
}
.sale-header h2 {
    margin: 0.28rem 0 0.2rem 0;
    font-size: 0.64rem;
    font-weight: normal;
    color: #ff5000;
}
.sale-header p {
    margin: 0;
    font-size: 0.4rem;
}
.sale .item-caption > div {
    width: auto;
}
.sale .item-heading {
    -webkit-line-clamp: 3;
}
.sale .text-price .text-big {
    font-size: 0.48rem;
    line-height: 0.64rem;
}

/* Hound UI */
.h-radio,
.h-checkbox {
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    margin: 0 0 0.25em;
    height: 1.25em;
    background-clip: content-box;
    -webkit-appearance: none;
    user-select: none;
    outline: none;
    vertical-align: middle;
}
.h-only {
    margin: 0;
}
.h-radio:before,
.h-checkbox:before {
    position: absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    width: 1em;
    height: 1em;
    background: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: "";
    text-align: center;
    font: normal normal normal 1em/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.h-checkbox {
    width: 2em;
    background: #8a8a8a;
    -webkit-border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    border-radius: 0.75em;
    transition: background-color ease 0.4s;
}
.h-checkbox:before {
    top: 0.125em;
    left: 0.125em;
    transition: left ease 0.4s;
}
.h-checkbox:checked {
    background: #ff3300;
}
.h-checkbox:checked:before {
    left: 0.875em;
}
.h-radio {
    width: 1.25em;
}
.h-radio:before {
    left: 0;
    bottom: 0;
    border: 0.125em solid #8a8a8a;
    transition: background-color ease 0.4s, border-color ease 0.2s;
}
.h-radio:checked:before {
    border-color: #ff3300;
    background: #ff3300;
    content: "\f00c";
    color: #ffffff;
}
.h-radio-m,
.h-checkbox-m {
    font-size: 1.2em;
}
.h-radio-l,
.h-checkbox-l {
    font-size: 1.6em;
}

/* 常用样式 */
.hide {
    display: none;
}
.show {
    display: block;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.position-left,
.position-right {
    position: absolute;
    bottom: 0.145rem;
    max-width: 40%;
}
.position-left {
    left: 0;
}
.position-right {
    right: 0.29rem;
}
/* 水平间距 */
.hspace {
    margin-top: 0.25rem;
}
.hspace-half {
    margin-top: 0.125rem;
}
.hspace-sesqui {
    margin-top: 0.375rem;
}
.hspace-double {
    margin-top: 0.5rem;
}
.hspace-triple {
    margin-top: 0.75rem;
}
.hspace-fourfold {
    margin-top: 1rem;
}
.hspace-fivefold {
    margin-top: 1.25rem;
}
.hspace-clear {
    margin-top: 0!important;
}
.hpadding {
    padding-top: 0.25rem;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.wrapper:before,
.wrapper:after,
.section:before,
.section:after,
.section-body:before,
.section-body:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.dl-horizontal:before,
.dl-horizontal:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.orderli-state:before,
.orderli-state:after,
.media-bottom:before,
.media-bottom:after {
    display: table;
    content: " ";
}
.clearfix:after,
.container:after,
.wrapper:after,
.section:after,
.section-body:after,
.row:after,
.form-horizontal .form-group:after,
.dl-horizontal:after,
.dl-horizontal dd:after,
.orderli-state:after,
.media-bottom:after {
    clear: both;
}


/* IScroll style */
#wrapper {
    position: absolute;
    z-index: 1;
    top: 1rem;
    bottom: 1.2rem;
    left: 0;
    right: 0;
    width: 10rem;
    margin: 0 auto;
    overflow: hidden;
}
#wrapper.order {
    top: 2.2061rem
}
#wrapper.favorite {
    top: 0;
}
#wrapper.record {
    top: 3.28rem;
    bottom: 1.1733333333333333rem;
}
#wrapper.sale {
    top: 2.2rem;
    bottom: 1.1733333333333333rem;
}
#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
#pullDown, #pullUp {
    display: none;
    text-align: center;
    font-weight: bold;
    color: #888;
}
#pullDown {
    padding-bottom: 0.1rem;
    border-bottom: 1px solid #ccc;
}
#pullUp {
    padding-top: 0.1rem;
    border-top: 1px solid #ccc;
}
#pullDown .pullDownLabel,
#pullUp .pullUpLabel {
    margin-left: 0.25rem;
}
#pullDown .pullDownIcon,
#pullUp .pullUpIcon {
    display: inline-block;
    font: normal normal normal 1.5em/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}
#pullDown .pullDownIcon:before {
    content: "\f063";
}
#pullUp .pullUpIcon:before {
    content: "\f062";
}
#pullDown.flip .pullDownIcon ,
#pullUp.flip .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}
#pullDown.loading .pullDownIcon:before,
#pullUp.loading .pullUpIcon:before {
    content: "\f021";
}
#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;
    -webkit-animation: ring 1s linear 0s infinite;
    -o-animation: ring 1s linear 0s infinite;
    animation: ring 1s linear 0s infinite;
}

@-webkit-keyframes ring {
    from {
        -webkit-transform: rotate(0deg) translateZ(0);
    }
    to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}
