@import "normalize.css";
@import "../js/plugins/swiper/swiper.min.css";
@import "../js/plugins/sweetalert2/sweetalert2.min.css";

/**
 * Muse mall styles
 * Created by LiuSong on 2017-4-24
 */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    padding: 0;
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    position: relative;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    font-family:"Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.25;
    color: #122733;
}
img {
    vertical-align: middle;
}
a {
    color: #122733;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #ff5000;
    text-decoration: none;
}
a:focus {
    outline: none;
}
/* 文本样式 */
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-nowrap {
    white-space: nowrap;
}
.text-muted {
    color: #999;
}
.text-attract {
    color: #ff5000;
}
.text-price {
    color: #ff5000;
}
.text-price .yuan {
    font-size: 1.5em;
}
.text-price-align {
    margin-top: 0.25em;
    line-height: 1.5;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-small {
    font-size: smaller;
}
.text-big {
    font-size: larger;
}
.badge {
    display: inline-block;
    min-width: 0.9em;
    padding: 0.3333333333333333em 0.6666666666666667em;
    font-size: 0.9em;
    color: #ffffff;
    line-height: 1;
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
    background-color: #ff5000;
    border-radius: 0.4em;
}
.badge:empty {
    display: none;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* 布局样式 */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    width: 10rem;
}
.wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 10rem;
}
.wrapper-has-footer {
    padding-bottom: 1.8rem;
}
.section {
    padding: 0.2rem 0;
    width: 10rem;
    background: #ffffff;
    font-size: 1.1111111111111112em;
}
.section-head {
    margin: 0 0 0.1rem 0;
    padding: 0 0.4rem 0.1rem 0.4rem;
    border-bottom: 1px solid #f5f5f5;
    font-size: 1.125em;
    font-weight: bold;
    color: #ff5000;
}
.section-body {
    padding: 0 0.4rem;
    word-wrap: break-word;
    text-align: justify;
}
.section-head > *,
.section-body > * {
    float: left;
    width: 100%;
}
.section-body > h1,
.section-body > h3 {
    margin: 0;
    font-weight: normal;
}
.section-body > h1 {
    font-size: 1.2em;
}
.section-body > h3 {
    margin-top: 0.5em;
    font-size: 1em;
}
.section-body p {
    margin: 0;
}
.section-body > ul {
    margin-top: 0;
    margin-bottom: 0;
}
.row-fa {
    position: relative;
    padding-left: 2em;
    line-height: 1.875;
}
.row-fa .fa {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.875em;
    line-height: 1;
}
.row {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}
.rem-1,
.rem-2,
.rem-3,
.rem-4,
.rem-5,
.rem-6,
.rem-7,
.rem-8,
.rem-9,
.rem-10 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}
.rem-1 {
    width: 1rem;
}
.rem-2 {
    width: 2rem;
}
.rem-3 {
    width: 3rem;
}
.rem-4 {
    width: 4rem;
}
.rem-5 {
    width: 5rem;
}
.rem-6 {
    width: 6rem;
}
.rem-7 {
    width: 7rem;
}
.rem-8 {
    width: 8rem;
}
.rem-9 {
    width: 9rem;
}
.rem-10 {
    width: 10rem;
}
.dl-horizontal {
    margin: 0;
}
.dl-horizontal dt {
    float: left;
    width: 5.1em;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal dd {
    margin-left: 5.1em;
}
.dl-horizontal ~ .dl-horizontal {
    margin-top: 0.45em;
}

/* 按钮 */
.btn {
    display: inline-block;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}
.btn.disabled,
.btn[disabled] {
    background: #999999 none;
    color: #ffffff;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-attract {
    background: #ff5000 none;
    color: #ffffff;
}
.btn-attract-o {
    padding-left: 0;
    padding-right: 0;
    width: 1.5rem;
    height: 0.5rem;
    border: 1px solid #ff5000;
    border-radius: 0.05rem;
    background: #ffffff none;
    color: #ff5000;
}
.btn-attract-o ~ .btn-attract-o {
    margin-left: 0.3rem;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.btn-group-justified > .btn {
    display: table-cell;
    float: none;
    width: 1%;
    text-align: center;
}
.btn-group-justified > .btn {
    width: 100%;
}
.btn-group-justified > .btn:active,
.btn-group-justified > .btn.active {
    color: #ff5000;
}

/* 表单 */
.form-search {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 1em;
}
.form-search:before {
    display: block;
    position: absolute;
    left: 0.6em;
    top: 0.94em;
    font-size: 1.875em;
    line-height: 1;
}
.form-search input {
    display: block;
    width: 100%;
    padding: 0.7em 1em 0.7em 3.75em;
    border: 0;
    background: #f2f2f2 none;
    border-radius: 0.0644122383252818rem;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.875em;
}

/* 顶部底部导航 */
.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    background: #ffffff;
}
.navbar-fixed-top {
    top: 0;
    padding-bottom: 0.0833333333333333em;
    text-align: center;
}
.navbar-fixed-top nav {
    border-bottom: 1px solid #e7e7e7;
    font-size: 1.25em;
    line-height: 2.6;
}
.navbar-fixed-top nav .rem-1 {
    border-left: 1px solid #e7e7e7;
}
.navbar-fixed-bottom {
    bottom: 0;
}
.navbar-fixed-bottom nav {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.25em;
    line-height: 2.25;
}
.navbar-fixed-bottom .btn-group-justified > .btn ~ .btn {
    border-left: 1px solid #122733;
}
.navbar-fixed-bottom .btn-group-row {
    height: 1.2rem;
}
.navbar-fixed-bottom .btn-group-row > .btn {
    display: block;
    height: 1.2rem;
    font-size: 0.3864734299516908rem;
}
.navbar-fixed-bottom .btn-group-row > .btn-favorite {
    background: #ffffff none;
}
.navbar-fixed-bottom .btn-group-row > .btn-favorite > .fa {
    font-size: 1.3em;
}

/* 瀑布商品 */
.img-thumbnail {
    position: relative;
}
.img-thumbnail > img {
    max-width: 100%;
    max-height: 100%;
    -webkit-border-radius: 0.0644122383252818rem;
    -moz-border-radius: 0.0644122383252818rem;
    border-radius: 0.0644122383252818rem;
}
.sold-out {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.25em;
    color: #ffffff;
}
.thumbnail {
    display: block;
    background-color: #fff;
    -webkit-box-shadow: 0 0.0805152979066023rem 0.1610305958132045rem rgba(4, 0, 0, 0.73);
    -moz-box-shadow: 0 0.0805152979066023rem 0.1610305958132045rem rgba(4, 0, 0, 0.73);
    box-shadow: 0 0.0805152979066023rem 0.1610305958132045rem rgba(4, 0, 0, 0.73);
}
.thumbnail .caption {
    padding: 0.1449275362318841rem;
}
.thumbnail .text-price {
    margin-top: 0.25em;
}

/* 列表商品 */
.media {
    display: block;
    margin-top: 1.25em;
}
.media,
.media-body {
    overflow: hidden;
    zoom: 1;
}
.media-body {
    position: relative;
    width: 10000px;
    padding-right: 1em;
}
.media .img-thumbnail {
    display: block;
}
.media-left,
.media > .pull-left {
    padding-right: 1em;
}
.media-left,
.media-body {
    display: table-cell;
    vertical-align: top;
}
.media-heading {
    margin: 0.5em 0;
    font-size: 1.15em;
}

/* 商品瀑布布局 */
.goods-waterfall {
    width: 10rem;
    margin: 0;
}
.goods-waterfall .rem-5 {
    margin: 0.2rem 0;
}
.goods-waterfall .rem-5:nth-child(2n+1) {
    padding-right: 0.125rem;
}
.goods-waterfall .rem-5:nth-child(2n) {
    padding-left: 0.125rem;
}
.goods-waterfall .img-thumbnail {
    width: 4.625rem;
    height: 4.625rem;
}
.goods-waterfall .img-thumbnail > .sold-out {
    width: 2.3125rem;
    height: 2.3125rem;
    line-height: 2.3125rem;
}

/* 商品列表布局 */
.goods-list {
    width: 10rem;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
}
.goods-list .media {
    margin: 0.2rem 0;
    background: #ffffff;
    -webkit-box-shadow: 0 0.0805152979066023rem 0.1610305958132045rem rgba(4, 0, 0, 0.73);
    -moz-box-shadow: 0 0.0805152979066023rem 0.1610305958132045rem rgba(4, 0, 0, 0.73);
    box-shadow: 0 0.0805152979066023rem 0.1610305958132045rem rgba(4, 0, 0, 0.73);
}
.goods-list .img-thumbnail {
    width: 2.737520128824477rem;
    height: 2.737520128824477rem;
}
.goods-list .img-thumbnail > .sold-out {
    width: 2.028985507246377rem;
    height: 2.028985507246377rem;
    line-height: 2.028985507246377rem;
}
.goods-list .text-price {
    position: absolute;
    left: 0;
    bottom: 0.5em;
}
.goods-list .text-muted {
    position: absolute;
    right: 1em;
    bottom: 0.5em;
}

.order-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.orderli {
    margin: 0.25rem 0;
    background: #ffffff;
}
.orderli-media {
    padding: 0.25rem 0.2rem 0 0.25rem;
}
.orderli-state {
    padding: 0.15rem 0.4rem 0.15rem 0.3rem;
}
.orderli-state .pull-left {
    line-height: 1.5em;
}
.orderli-body {
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
}
.orderli-foot {
    padding: 0.2rem 0.4rem 0.25rem 0.3rem;
    border-top: 1px solid #e7e7e7;
    text-align: right;
}
.orderli-media .media {
    margin-top: 0;
    background: #f2f2f2;
}
.orderli-media .media-heading {
    font-size: 1em;
}
.orderli-media .img-thumbnail {
    width: 2rem;
    height: 2rem;
}
.orderli-media .text-price {
    position: absolute;
    left: 0;
    bottom: 0.5em;
}
.orderli-media .text-muted {
    position: absolute;
    right: 1em;
    bottom: 0.5em;
}


/* 商品大图轮播 */
.swiper-goods {
    width: 10rem;
    height: 8rem;
}
.swiper-goods>.swiper-pagination-bullets {
    bottom: 0.3703703703703703rem;
}
.swiper-goods>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0.072463768115942rem;
    width: 0.1851851851851852rem;
    height: 0.1851851851851852rem;
    background: #ffffff;
}

.result-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
}
.result {
    margin: 0 auto;
    width: 7.246376811594203rem;
    background: #ffffff;
}
.result-icon {
    margin: 0 auto;
    width: 5rem;
    height: 4rem;
}
.result-text {
    width: 100%;
    margin-top: 0.4rem;
    font-size: 1.3333333333333333em;
    font-weight: bold;
    text-align: center;
}
.result-button {
    width: 100%;
    margin-top: 1rem;
}
.result-button > .btn {
    display: block;
    width: 100%;
    height: 1rem;
    border-radius: 0.15rem;
    font-size: 1.3333333333333333em;
    font-weight: bold;
    line-height: 1rem;
}
.result-button > .btn ~ .btn {
    margin-top: 0.6rem;
}
.result-success .result-icon {
    background: url("images/success.png") no-repeat;
    background-size: 100%;
}
.result-fail .result-icon {
    background: url("images/fail.png") no-repeat;
    background-size: 100%;
}
.result-exception .result-icon {
    background: url("images/exception.png") no-repeat;
    background-size: 100%;
}
.result-no-record .result-icon {
    background: url("images/no-record.png") no-repeat;
    background-size: 100%;
}
.result-wrapper .section {
    margin-top: 1.8rem;
}

/* 常用样式 */
.hide {
    display: none;
}
.show {
    display: block;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
/* 水平间距 */
.hspace {
    margin-top: 1em;
}
.hspace-half {
    margin-top: 0.5em;
}
.hspace-sesqui {
    margin-top: 1.5em;
}
.hspace-double {
    margin-top: 2em;
}
.hspace-triple {
    margin-top: 3em;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.wrapper:before,
.wrapper:after,
.section:before,
.section:after,
.row:before,
.row:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.orderli-state:before,
.orderli-state:after,
.media-bottom:before,
.media-bottom:after {
    display: table;
    content: " ";
}
.clearfix:after,
.container:after,
.wrapper:after,
.section:after,
.row:after,
.dl-horizontal dd:after,
.orderli-state:after,
.media-bottom:after {
    clear: both;
}


/* IScroll style */
#wrapper {
    position: absolute;
    z-index: 1;
    top: 3.25em;
    bottom: 3.8125em;
    left: 0;
    right: 0;
    width: 10rem;
    margin: 0 auto;
    overflow: hidden;
}
#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
#pullDown, #pullUp {
    display: none;
    background: #fff;
    padding: 0.5em 1em;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    line-height: 2em;
    color: #888;
}
#pullDown .pullDownLabel,
#pullUp .pullUpLabel {
    margin-left: 1em;
}
#pullDown .pullDownIcon,
#pullUp .pullUpIcon {
    display: block;
    float: left;
    font: normal normal normal 2em/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}
#pullDown .pullDownIcon:before {
    content: "\f063";
}
#pullUp .pullUpIcon:before {
    content: "\f062";
}
#pullDown.flip .pullDownIcon ,
#pullUp.flip .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}
#pullDown.loading .pullDownIcon:before,
#pullUp.loading .pullUpIcon:before {
    content: "\f021";
}
#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0);
    }
    to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}
